:root {
  --bg-cream: #F4F1DE;
  --primary-shade: #8B5A2B;
  --primary-tint: #D6A87E;
  --secondary-tint: #C48854;
  --text-charcoal: #3D405B;
  --accent-sage: #81B29A;
  --footer-dark: #28231D;
  --section-cream: #F3EACE;
  --white: #FFFFFF;

  /* fonts */
  --text-sm: 1.2rem;
  --text-base: 1rem;
  --text-para: 1.13rem;
  --text-h4: 1.25rem;
  --text-h3: 1.75rem;
  --text-h2: 2.8rem;
  --text-h1: 4rem;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--bg-cream);
  line-height: 1.6;
  margin: 0 auto;
}

h1,
h2,
h3,
h4 {
  /* font-weight: 700;
  line-height: 1.2;
  letter-spacing: -2px; */
  color: var(--text-charcoal);
}

h1 {
  font-size: var(--text-h1);
}

h2 {
  font-size: var(--text-h2);
}

h3 {
  font-size: var(--text-h3);
}

h4 {
  font-size: var(--text-h4);
}

p {
  font-size: var(--text-para);
}

a {
  text-decoration: none;
  font-size: var(--text-base);
  color: var(--text-charcoal);
}

li {
  list-style: none;
}

/* ---SECTIONS--- */
.header {
  height: 100vh;
  min-height: 700px;
}

/* -navbar- */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
  height: 100px;
}

.main-logo {
  width: 300px;
}

.navbar-menu {
  display: flex;
  flex-direction: row;
  gap: 30px;
}

/* -hero-section- */
.hero-sec {
  min-height: 500px;
  background-image: url('./images/pot roast.png');
  opacity: 0.9;
  /* background-color: rgba(0, 0, 0, 0.5); */
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  text-align: left;
}

.hero-sec h1 {
  font-size: 48px;
  font-weight: 700;
  color: var(--white);
  /* text-align: left; */
  padding-top: 200px;
  padding-left: 100px;
  font-family: Marriweather;
  width: 50%;
}



/* -fav-grid- */
.fav-sec {
  display: flex;
  justify-content: center;
  gap: 30px;
  flex-direction: column;
  min-height: 500px;
  margin-bottom: 30px;
}

.fav-head {
  text-align: center;
}

.fav {
  display: flex;
  justify-content: center;
  gap: 30px;
}

.fav-ctn {
  border-radius: 20px;
  padding: 15px;
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.08);
  background-color: var(--white);
  transition: 0.5s;
}

.fav-ctn:hover {
  transform: translateY(-10px);
  box-shadow: 0 30px 60px rgba(29, 53, 87, 0.18);
}

.fav-ctn img {
  max-width: 350px;
  width: 100%;
  height: 300px;
  object-fit: cover;
  object-position: center;
}

.fav-ctn p {
  display: inline-block;
}


.social-rev {
  text-align: center;
  margin-bottom: 30px;
  background-color: var(--accent-sage);
  color: var(--white);
  padding: 30px;
  margin-bottom: 30px;
}

.split-ctn {
  display: flex;
  min-height: 100vh;
  margin-bottom: 30px;
}

.philo-sec {
  padding: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
}

.philo-content {
  display: flex;
  gap: 30px;
  max-width: 800px;
  align-items: flex-start;
}

.chef-img {
  width: 200px;
  height: 250px;
  object-fit: cover;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.philo-text {
  width: 50%;

}

.philosophy-text p {
  font-size: 0.95rem;
  margin-bottom: 10px;
}

.section-info {
  background-color: var(--section-cream);
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 60px;
  width: 50%;
}

.section-info h2 {
  text-align: center;
  margin-bottom: 40px;
  font-size: 2rem;
}

.info-grid {
  display: flex;
  justify-content: center;
  gap: 40px;
}

.info-text {
  min-width: 200px;
}

.hours-list {
  list-style: none;
  font-size: 0.9rem;
  margin-bottom: 20px;
}

.hours-list li {
  margin-bottom: 5px;
}


.map-ctn {
  width: 300px;
  height: 200px;
  background-color: var(--bg-cream);
  border-radius: 8px;
  overflow: hidden;
  border: 2px solid var(--white);
}

.map-ctn img {
  width: 100%;
  height: 100%;
}

.footer {
  text-align: center;
  margin-bottom: 70px;
}

.footer input {
  width: 250px;
  text-align: center;
  height: 30px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border: none;
  background-color: var(--bg-cream);
  margin-bottom: 30px;
  transition: 0.5s;
}

.footer input:hover,
.footer input:active {
  transform: translateY(8px);
  box-shadow: 0 60px 30px rgba(29, 53, 87, 0.18);
  border: none;
}

.footer input:focus {
  outline: none;
}

.footer img {
  width: 20px;
  gap: 20px;
  margin-bottom: 20px;
}

.socials {
  display: flex;
  gap: 10px;
  justify-content: center;
  border-bottom: 1px solid var(--section-cream);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.copy {
  margin-top: 0;
}

/* ---COMPONENTS--- */
.checked {
  color: #ffd700;
}

.btn {
  padding: 12px;
  border-radius: 10px;
}

.secondary-btn:link,
.secondary-btn:visited {
  background-color: var(--primary-shade);
  border: 1px solid var(--primary-shade);
  color: var(--white);
  transition: 0.5s;
}

.secondary-btn:hover,
.secondary-btn:active {
  background-color: var(--primary-tint);
  border: 1px solid var(--primary-tint);
  color: var(--text-charcoal);
}

.hero-btn {
  padding-left: 100px;
}

.menu-btn:link,
.menu-btn:visited {
  color: var(--white);
  border: 1px solid var(--white);
  transition: 0.5s;
}

.menu-btn:hover,
.menu-btn:active {
  background-color: var(--secondary-tint);
  border: 1px solid var(--secondary-tint);
  color: var(--text-charcoal);

}

